ul {
  padding: 0;
  margin: 0;
  text-align: left;
  padding: 100px 0;
  position: relative;
  transform: translateX(-50%);
  left: 50%;

  .title,
  .text {
    display: inline-block;
    resize: none;
    overflow: hidden;
  }

  .title {
    margin: 0 80px 0 20px;
    font-size: 28px;
    border: 0;
    background: 0;
    height: 40px;
    color: #fff;
    font-weight: bold;
    vertical-align: baseline;
  }
  .text {
    margin: 0 80px 20px 50px;
    font-size: 14px;
    border: 0;
    background: 0;
    color: #fff;
    width: 80%;
  }
  li {
    list-style: none;
    .container {
      position: relative;
      margin: 0;
      padding: 0;
      cursor: pointer;
      font-size: 22px;
      height: 30px;
      width: 30px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 30px;
      width: 30px;
      background-color: #fff;
      transition: all 0.1s ease;
      transform: scale(0.95);
      transform-origin: 50% 70%;
      border-radius: 25px;
      border: 2px solid #f1f3f4;
    }
    .container:hover input ~ .checkmark {
      background-color: #ccc;
      transform: scale(1);
    }
    .container input:checked ~ .checkmark {
      background-color: #2196f3;
    }
    .checkmark:after,
    .checkmark:before {
      content: "";
      position: absolute;
      display: none;
    }
    .container input:checked ~ .checkmark:after,
    .container input:checked ~ .checkmark:before {
      display: inline-block;
    }
    .container .checkmark:after {
      left: 10px;
      top: 7px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  p {
    display: inline-block;
    margin: 0;
  }
  button {
    float: right;
  }
}

textarea {
  -webkit-outline-style: none;
  -moz-outline-style: none;
  -ms-outline-style: none;
  outline-style: none;
}
